@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Ristorante da Luigi</h1>
    <img src="https://d1csarkz8obe9u.cloudfront.net/posterpreviews/restaurant-logo-design-template-9c8fdc997056656a46248a9f5735d53f_screen.jpg?ts=1625564746" alt="Logo Ristorante">

</div>
